`Estructuras de Datos`

1. Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

2. Imprimir por pantalla el segundo elemento de la lista

3. Imprimir por pantalla del segundo al cuarto elemento

4. Visualizar el tipo de dato de la lista

5. Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

6. Visualizar los primeros 4 elementos de la lista

7. Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

8. Agregar otra ciudad, pero en la cuarta posición

9. Concatenar otra lista a la ya creada

10. Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

11. ¿Qué pasa si se busca un elemento que no existe?

12. Eliminar un elemento de la lista

13. ¿Qué pasa si el elemento a eliminar no existe?

14. Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

15. Mostrar la lista multiplicada por 4

16. Crear una tupla que contenga los números enteros del 1 al 20

17. Imprimir desde el índice 10 al 15 de la tupla

18. Evaluar si los números 20 y 30 están dentro de la tupla

19. Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

20. Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

21. Convertir la tupla en una lista

22. Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

23. Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

24. Imprimir las claves del diccionario

25. Imprimir las ciudades a través de su clave

In [106]:
# 1. Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla
cities = ['Quito', 'London', 'Mexico', 'Madrid', 'Mosku']
cities_list = cities
[city for city in cities]

['Quito', 'London', 'Mexico', 'Madrid', 'Mosku']

In [107]:
# 2. Imprimir por pantalla el segundo elemento de la lista
print(cities[1])
# 3. Imprimir por pantalla del segundo al cuarto elemento
print(cities[1:4])

London
['London', 'Mexico', 'Madrid']

In [108]:
# 4. Visualizar el tipo de dato de la lista
type(cities)

list

In [109]:
# 5. Visualizar todos los elementos de la lista a partir del tercero de manera genérica,
# es decir, sin explicitar la posición del último elemento
print(cities[2:])

['Mexico', 'Madrid', 'Mosku']

In [110]:
# 6. Visualizar los primeros 4 elementos de la lista
print(cities[:4])

['Quito', 'London', 'Mexico', 'Madrid']

In [111]:
# 7. Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?
cities.append('Quito')
cities.append('Riobamba')
cities

['Quito', 'London', 'Mexico', 'Madrid', 'Mosku', 'Quito', 'Riobamba']

In [112]:
# 8. Agregar otra ciudad, pero en la cuarta posición
cities.insert(3, 'New York')
cities

['Quito',
 'London',
 'Mexico',
 'New York',
 'Madrid',
 'Mosku',
 'Quito',
 'Riobamba']

In [113]:
# 9. Concatenar otra lista a la ya creada
cities_2 = ['Oslo', 'Monte Video', 'La Habana']
cities.extend(cities_2)
cities

['Quito',
 'London',
 'Mexico',
 'New York',
 'Madrid',
 'Mosku',
 'Quito',
 'Riobamba',
 'Oslo',
 'Monte Video',
 'La Habana']

In [114]:
# 10. Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?
cities.index('Quito')

0

In [115]:
# 11. ¿Qué pasa si se busca un elemento que no existe?
cities.index('Cuenca')
'Cuenca' in cities

ValueError: 'Cuenca' is not in list

In [116]:
# 12. Eliminar un elemento de la lista
cities.remove('Quito')
cities

['London',
 'Mexico',
 'New York',
 'Madrid',
 'Mosku',
 'Quito',
 'Riobamba',
 'Oslo',
 'Monte Video',
 'La Habana']

In [117]:
# 13. ¿Qué pasa si el elemento a eliminar no existe?
cities.remove('Cuenca')

ValueError: list.remove(x): x not in list

In [118]:
# 14. Extraer eI úlimo elemento de la lista, guardarlo en una variable e imprimirlo
last_element = cities.pop(-5)
print(last_element)

Quito

In [119]:
cities

['London',
 'Mexico',
 'New York',
 'Madrid',
 'Mosku',
 'Riobamba',
 'Oslo',
 'Monte Video',
 'La Habana']

In [120]:
last_element = cities.pop(3)
print(last_element)

Madrid

In [121]:
cities

['London',
 'Mexico',
 'New York',
 'Mosku',
 'Riobamba',
 'Oslo',
 'Monte Video',
 'La Habana']

In [122]:
# 15. Mostrar la lista multiplicada por 4
print(cities*4)

['London', 'Mexico', 'New York', 'Mosku', 'Riobamba', 'Oslo', 'Monte Video', 'La Habana', 'London', 'Mexico', 'New York', 'Mosku', 'Riobamba', 'Oslo', 'Monte Video', 'La Habana', 'London', 'Mexico', 'New York', 'Mosku', 'Riobamba', 'Oslo', 'Monte Video', 'La Habana', 'London', 'Mexico', 'New York', 'Mosku', 'Riobamba', 'Oslo', 'Monte Video', 'La Habana']

In [130]:
# 16. Crear una tupla que contenga los números enteros del 1 al 20
tupla = tuple(range(1,21))
tupla

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [124]:
# 17. Imprimir desde el índice 10 al 15 de la tupla
[tupla.index(elem) for elem in tupla if tupla.index(elem) >=10 and tupla.index(elem) <=15]

[10, 11, 12, 13, 14, 15]

In [125]:
# 18. Evaluar si los números 20 y 30 están dentro de la tupla
print(20 in tupla)
print(30 in tupla)

True
False

In [126]:
# 19. Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe,
# agregarlo. Utilizar una variable e informar lo sucedido.
city = 'Paris'
if city in cities_list:
    print('The city is included in cities list')
else:
    cities_list.append(city)
    print("The city wasn't included in cities list, so we added")
print(cities_list)

The city wasn't included in cities list, so we added
['London', 'Mexico', 'New York', 'Mosku', 'Riobamba', 'Oslo', 'Monte Video', 'La Habana', 'Paris']

In [134]:
# 20. Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista
print(tupla.count(5))
print(cities.count('New York'))

1
1

In [136]:
# 21. Convertir la tupla en una lista
tupla_to_list = list(tupla)
tupla_to_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [139]:
# 22. Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables
a, b, c  = tupla_to_list[:3]
print(a,b,c)

1 2 3

In [142]:
# 23. Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad".
# Agregar tambien otras claves, como puede ser "Pais" y "Continente".
dictionary = {'ciudad': cities_list,
             'País': ['Ecuador', 'Canada', 'Argentina'],
             'Continente': ['America', 'Europe', 'Africa']}
dictionary

{'ciudad': ['London',
  'Mexico',
  'New York',
  'Mosku',
  'Riobamba',
  'Oslo',
  'Monte Video',
  'La Habana',
  'Paris'],
 'País': ['Ecuador', 'Canada', 'Argentina'],
 'Continente': ['America', 'Europe', 'Africa']}

In [153]:
# 24. Imprimir las claves del diccionario
print(dictionary.keys())

dict_keys(['ciudad', 'País', 'Continente'])

In [154]:
# 25. Imprimir las ciudades a través de su clave
print(dictionary['ciudad'])

['London', 'Mexico', 'New York', 'Mosku', 'Riobamba', 'Oslo', 'Monte Video', 'La Habana', 'Paris']